{% extends "template.html" %}
{% block content %}
<div>
 <div class="page-header">
 	<h1>Controlpanel</h1>	
 </div><br>

 <div class="container">
  <div class="row row-centered">
   {% if a1=='False' %}
   <div class="col-xs-6 col-centered">
     <a href="/a1on" class="thumbnail">
       <img src="static/img/lampeon.png" alt="turnlampon", title="turn lamp on">
     </a>
   </div>
   {% else %}
   <div class="col-xs-6 col-centered">
     <a href="/a1on" class="thumbnail">
       <img src="static/img/lampe.png" alt="turnlampoff", title="turn lamp off">
     </a>
   </div> 
   {% endif  %}
   
   {% if b2=='False' %}
   <div class="col-xs-6 col-centered">
     <a href="/b2on" class="thumbnail">
       <img src="static/img/fan.png" alt="turnfanoff", title="turn fan off">
     </a>
   </div>
   {% else  %}
   <div class="col-xs-6 col-centered">
     <a href="/b2on" class="thumbnail">
       <img src="static/img/fanon.png" alt="turnfanon", title="turn fan on">
     </a>
   </div>
   {% endif %}

  </div> <!-- row -->

  <div class="row row-centered">
   <div class="col-xs-12 col-centered">
    <a href="/shutdown" class="thumbnail">
     <img src="static/img/shutdown.png" alt="shutdown", title="shutdown">
    </a>
   </div>
  </div><!-- row -->
 </div> <!-- container -->
<hr>
</div>
{% endblock %}
