body {
  	padding-top: 50px;
}

.starter-template {
  	padding: 40px 15px;
  	text-align: center;
}

.flaskimg { 
  	position: fixed; 
	bottom: 0; 
	right: 0; 
	margin-right: 10px; 
	margin-bottom: 7px;
} 
